body {
  font-size: 1em;
  margin: 0px;
}

#fundo {
  background-image: url(imagens/fundo.png);
  left: auto;
  height: 230px;
}
#topo {
  width: 920px;
  margin: 0px auto;
}
#logo1 {
  float: left;
  margin-top: 30px;
}
#logo2 {
  float: right;
  margin-top: 20px;
}
#menu {
  width: 700px;
  height: 40px;
  text-align: center;
  float: right;
  margin-top: 20px;
  background-color: brown;
}
a {
  text-align: center;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  font-size: 1.5em;
  color: black;
}

.divisor {
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 15px;
  height: 20px;
}
#corpodapag {
  width: 920px;
  margin: 0px auto;
}
.fundotitulos {
  margin: 10px 10px;
  width: 200px;
  height: 35px;
  background-color: #294c71;
}
.corpodosconteudos1 {
  padding: 5px;
  background-image: url(imagens/fundo-caixa.png);
  width: 210px;
  height: 390px;
  float: left;
}
h2 {
  text-align: left;
  margin: 10px;

  color: aliceblue;
}
li {
  list-style: none;
  padding: 10px;
  text-align: left;
}

a.lermais:hover {
  font-size: 1.5em;
  text-decoration: underline;
}
a.lermais {
  color: brown;
  font-size: 1em;
}

li {
  margin: 0;
  list-style-image: url(imagens/images.png);
}

li > a {
  font-size: 1em;
  color: #000000;
}
li > a:hover {
  font-size: 1.3em;
  text-decoration: underline #000000;
  background-color: #294c71;
  color: white;
  display: block;
}
.fundoconteudo {
  background-color: white;
  width: 210px;
}
.corpodosconteudos2 {
  padding: 5px;
  background-image: url(imagens/fundo-caixa.png);
  width: 300px;
  height: 330px;
  float: left;
  margin-left: 30px;
  display: block;
}
.fundotitulos2 {
  margin: 10px 10px;
  width: 280px;
  height: 35px;
  background-color: #294c71;
}
#ENTREVISTA {
  background-color: red;
  width: 220px;
  height: 20px;
  margin-top: 5px;
  font-size: 0.8em;
}
.corpodosconteudos3 {
  float: right;
  background-image: url(imagens/fundo-caixa.png);
  width: 300px;
  height: 630px;
  margin-right: 30px;
}

.fundotitulos3 {
  margin: 10px 10px;
  width: 280px;
  height: 35px;
  background-color: #294c71;
}

.news {
  padding-left: 15px;
  background-image: url(imagens/fundo-caixa.png);
  width: 210px;
  height: 100px;
}
.value {
  background-color: brown;
  color: white;
  width: 100px;
}
.clear {
  clear: both;
}
.fundotitulos4 {
  margin: 10px 10px;
  width: 280px;
  height: 35px;
  background-color: #294c71;
  margin-right: 40px;
}
.mundo {
  padding: 5px;
  float: left;
  display: block;
  background-color: white;
}
.subconteudos2 {
  float: right;
  width: 165px;
  padding-left: 5px;
}
h4>a {
  color: #294c71;
  margin: 0px;
  padding: 0px;
}
h4 > p {
  margin: 0px;
  padding: 0px;
}
